<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org"
	th:replace="base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>

	<section>
		<h1>This is new About section</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
		Temporibus iste tempora odit molestiae mollitia delectus 
		similique pariatur odio quam ipsum voluptatem consequuntur id 
		enim omnis nemo recusandae dolore facilis culpa ullam atque excepturi
		 sed eaque quasi. Ipsam repudiandae voluptatem facilis dolore totam 
		 dignissimos iste hic voluptatum culpa ipsum. Animi voluptatem.</p>
	</section>

</body>
</html>