<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Conditional Handler</title>
</head>
<body>
	<h1>User is <span th:style="${isActive}?'color:green':'color:red'"
	th:text="${isActive}?'ACTIVE':'NOT ACTIVE'">
	</span></h1>
	
	<h1 th:if="${gender}=='M'">Male</h1>
	<h1 th:unless="${gender}=='M'">Female</h1>
	
	<div th:switch="${#lists.size(mylist)}">
	<h1 th:case="'0'">List contains Zero element</h1>
	<h1 th:case="'1'">List contains One element</h1>
	<h1 th:case="'4'">List contains Four element</h1>
		
	</div>
</body>
</html>